<div class="container-fluid container d-flex d-xl-flex flex-column justify-content-center align-items-center align-content-center align-self-center justify-content-xl-center align-items-xl-center border rounded shadow-sm" style="font-family: ABeeZee, sans-serif;text-align: center; align-items: center;background: linear-gradient(rgba(111,66,193,0.37), rgba(255,255,255,0.14));border-style: none;box-shadow: inset 0px 0px; padding: 10px; margin: 10px; padding: auto; margin: auto;"> 
  <div class="row">
    <div class="col-xs-12">
      <h1>Mercado de Monedas</h1>

      <input
        type="text"
        placeholder="Buscar moneda"
        class="form-control bg-dark text-light border-0 my-4 text-center"
        autofocus
        (keyup)="searchCoin()"
        [(ngModel)]="searchText"
      />

      <div class="table-responsive d-flex d-xl-flex flex-row justify-content-xl-center align-items-xl-center" style="text-align: justify;">
        <table class="table table-striped table-hover table-dark">
          <thead style="text-align: center;">
          <tr>
            <td *ngFor="let title of titles">
              {{ title }}
            </td>
          </tr>
        </thead>

        <tbody style="text-align: justify;">
          <tr *ngFor="let coin of filteredCoints; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <img
                [src]="coin.image"
                alt="{{ coin.name }}"
                style="width: 2rem"
                class="img-fluid me-4"
              />
              <span>{{ coin.name }}</span>
              <span class="ms-3 text-muted text-uppercase">{{ coin.symbol }}</span>
            </td>
            <td>{{ coin.current_price.toLocaleString() }}</td>

            <td
              [ngClass]="
                coin.price_change_percentage_24h > 0
                  ? 'text-success'
                  : 'text-danger'
              "
            >
              {{ coin.price_change_percentage_24h }}
            </td>
            <td>{{ coin.total_volume.toLocaleString() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>